@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Pseudo-class that matches the root element of the document. */
:root {
  --dark-shades: #2c2e3e;
  --dark-accent: #3658a7;
  --main-brand: #6f92fc;
  --light-accent: #98b5ff;
  --light-shades: #f2f3f5;
  --light: #e7f0f4;
  --gradient: -webkit-linear-gradient(
    bottom,
    var(--dark-accent),
    var(--main-brand),
    var(--dark-accent)
  );
  --gradient-dark: -webkit-linear-gradient(
    45deg,
    var(--main-brand),
    var(--dark-accent),
    var(--main-brand)
  );
  --gradient-heading: -webkit-linear-gradient(
    45deg,
    var(--light-accent),
    var(--light-shades),
    var(--light-accent)
  );
  --heading: 'Italianno', cursive;
  --body: 'Montserrat', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--body);
}

body {
  background-color: var(--light-accent) !important;
  font-family: var(--body);
}

.bg-trans {
  background-color: #a5b7e74b !important;
}

/* To ensure that the entire page is covered and there are no margins or padding around it. */
html,
body {
  height: 100% !important;
  margin: 0 !important;
}

/* Ensures that the main content takes up at least the full height of the page. */
.main {
  background-color: var(--light-accent) !important;
  min-height: calc(100%-5em) !important;
  /* 5em is the height of the footer */
  margin-bottom: 10rem;
}

/* This ensures that the footer always stays at the bottom of the page, regardless of the height of the main content. */
footer {
  height: 5em !important;
}

/* Colors */
.background-light {
  background: var(--light-shades) !important;
}

.background-main {
  background: var(--main-brand) !important;
}

header,
.background-dark {
  background: var(--dark-accent) !important;
}

/* Displays smooth transitions between the three specified colors - The linear gradient goes diagonally as defined by the 45 degrees */
.gradient {
  background: var(--gradient) !important;
}

.background-gradient {
  background: var(--gradient-dark);
}

.gradient-dark {
  background: var(--gradient-dark);
  /* Need to set that is a text you are removing the background / color or the gradient won't work */
  -webkit-background-clip: text;
  background-clip: none;
  /* Text-fill needs to be transparent to show the gradient */
  -webkit-text-fill-color: transparent;
}

.shades {
  color: var(--dark-shades) !important;
}

input::placeholder,
textarea::placeholder,
.dark-accent {
  color: var(--dark-accent) !important;
}

.light-accent {
  color: var(--light-accent) !important;
}

input,
input:focus,
textarea,
textarea:focus,
.light-shades {
  color: var(--light-shades) !important;
}

.main-brand {
  color: var(--main-brand) !important;
}

.light {
  color: var(--light) !important;
}

.gradient-hv:hover {
  color: var(--light-shades);
}
/* When hovering, the link color will change to smooth transitions between the three specified colors */
.gradient-text {
  background: var(--gradient);
  /* Need to set that is a text you are removing the background / color or the gradient won't work */
  -webkit-background-clip: text;
  background-clip: none;
  /* Text-fill needs to be transparent to show the gradient */
  -webkit-text-fill-color: transparent;
}

.gradient-heading {
  background: var(--gradient-heading);
  /* Need to set that is a text you are removing the background / color or the gradient won't work */
  -webkit-background-clip: text;
  background-clip: none;
  /* Text-fill needs to be transparent to show the gradient */
  -webkit-text-fill-color: transparent;
}

/* Removes the underline default for anchors tags */
a {
  text-decoration: none !important;
}

li {
  list-style: none !important;
}

/* Width for the buttons */
.width-20 {
  width: 20em;
}

/* Font Sizes */
.fs-small {
  font-size: 14px;
}

.fs-medium {
  font-size: 18px;
}

.fs-heading {
  font-size: 44px !important;
}

.ls-sm {
  letter-spacing: 1px;
}

input::placeholder {
  font-size: 16px;
}

input[type="date"]::-webkit-calendar-picker-indicator{
  filter: invert(1) hue-rotate(180deg);
}

/* Font Family */
.heading-font {
  font-family: var(--heading);
}

.body-font {
  font-family: var(--body);
}

/* Font Weight */
.nav-link:hover {
  font-weight: 600;
}

/* Alignment */
.justify {
  text-align: justify;
}

/* Border, Box Shadow, White-Space */
.no-border {
  border: none !important;
  outline: none !important;
}

.radius-5 {
  border-radius: 5px;
}

.radius-15 {
  border-radius: 15px;
}

.radius-100 {
  border-radius: 100%;
}

.card {
  border-radius: 20px !important;
}

textarea {
  resize: none !important;
  white-space: pre-wrap !important;
  /* Any line breaks or multiple spaces that were entered in the textarea will be preserved and displayed */
}

input,
textarea,
select {
  border: 1px solid var(--main-brand) !important;
}

.typing,
.typing-slow {
  /* To keep in the same line */
  white-space: nowrap !important;
  /* Clipes the overflow and hides duplicate text generated by the animation */
  overflow: hidden !important;
}

/* Animation */
.typing {
  /* Typing effect */
  animation: typing 4s steps(50, end);
  /* Right and left margins need to be auto to move text while animation is on */
  margin: 0 auto 36px auto !important;
}

/* Controls the intermediate steps in the animation sequence */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}
